<html lang=”en-GB”>
  <head>
    <!--TODO Something in this meta tag causes a thin white line to appear to the right in iPhone5 only - ok on all other iPhones: http://www.kylejlarson.com/blog/2012/iphone-5-web-design/ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        
    <link rel="stylesheet" href="/main.css" type='text/css'>
    
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Adding google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300%7COpen+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <!--favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <!--TODO MISSING A TON OF FAVICONS -->
    
    <!--design option 1 -->
    <title>dwyl - saves you time so you can do what you love</title>
  </head>
  <body>
    <header>
      <img id='logo' alt='dwyl logo' src="/images/dwyl-logo-pure-white.png"/>
      <div id="nav">
        <div id="social-header">
          <a href="https://twitter.com/dwylhq"><i class="fa fa-twitter"></i></a>
          <a href="mailto:hello@dwyl.io"><i class="fa fa-envelope-o"></i></a>
          <a href="https://instagram.com/dwylhq"><i class="fa fa-instagram"></i></a>
        </div>
        <div></div>
        <ul>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
    </header>
    
    
    <%- yield %>
    
    
    <footer>
      <!-- Contact form and feeds -->
      
      <form id="contact">
          <label class="sr-only" for="email">Email address</label>
            <input type="email" required placeholder="Your email address" name="email" id="email"/>
          <label class="sr-only" for="text">Your message</label>
            <textarea name="textarea" rows="10" cols="50" placeholder="How can we help?"></textarea>
          <button type="submit">Send</button>
      </form>
      
      <div id="blogreel">
        <h3>Latest blog articles</h3>
        <ul>
          <li>Article 1</li>
          <li>Article 2</li>
          <li>Article 3</li>
        </ul>
      </div>
      
    </footer>
    
    <!-- <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/app.js"></script>   -->
  </body>
</html>