<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/main.css"
    <title>dwyl - saves you time so you can do what you love</title>
  </head>
  <body>
    <header>
      <!--Header and nav will go here-->
    </header>
    <%- yield %>
    <footer>
      <!-- Contact form and/or feeds -->
    </footer>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>