<section id='headline'>
<h1>dwyl saves you time </h1>
<h2>so you can do what you love </h2>
</section>

<section id='main'>
  <form id="signup">
      <label class="sr-only" for="email">Email address</label>
        <input type="email" required placeholder="Your email address" name="email" id="email"/>
      <button type="submit">Email me when I can start using it!</button>
  </form>

<ul>
  <!--style with :before for icons? May need individual ids -->
  <li class=feature>Feature 1</li>
  <li class=feature>Feature 2</li>
  <li class=feature>Feature 3</li>
</ul>
</section>

<section id='contact'>
<p>SAY HELLO!</p>
<a href="https://twitter.com/dwylhq"><i class="fa fa-twitter"></i></a>
<a href="https://instagram.com/dwylhq"><i class="fa fa-instagram"></i></a>
<a href="mailto:hello@dwyl.io"><i class="fa fa-envelope-o"></i></a>
<p>#dwyl</p>
</section>
