<section id='headline'>
<h1>dwyl saves you time so you can use it to do what you love </h1>
</section>

<section id='main'>
<ul>
  <!--style with :before for icons? May need individual ids -->
  <li class=feature>Feature 1</li>
  <li class=feature>Feature 2</li>
  <li class=feature>Feature 3</li>
</ul>

<form id="signup">
    <label class="sr-only" for="email">Email address</label>
      <input type="email" required placeholder="Your email address" name="email" id="email"/>
    <button type="submit">Email me when I can start using it!</button>
</form>
</section>

<section id='contact'>
<p>SAY HELLO!</p>
<a href="https://twitter.com/dwylhq"><i class="fa fa-twitter"></i></a>
<a href="https://instagram.com/dwylhq"><i class="fa fa-instagram"></i></a>
<a href="mailto:hello@dwyl.io"><i class="fa fa-envelope-o"></i></a>
<p>#dwyl</p>
</section>
