<section id='main'>
  <div id='headline'>
    <h1>dwyl saves you time </h1>
    <h2>so you can do what you love </h2>
  </div>
  
  <form id="signup">
      <label class="sr-only" for="email">Email address</label>
        <input type="email" required placeholder="Your email address" name="email" id="email"/>
      <button type="submit">Start saving time</button>
      <p>We don't share your email with anyone, ever.</p>
  </form>
  
</section> <!--End 'main' section -->

<section id=features>
  <!--style with :before for icons? May need individual ids -->
  <div class=feature>
    <i class="fa fa-check"></i>
    <h3>Simplicity</h3>
    <p>We like to keep it simple and intuitive, with only the features you use</p>
  </div>
  <div class=feature>
    <i class="fa fa-users"></i>
    <h3>Community Driven</h3>
    <p>We build everything out in the open and only what you ask for. <a href="mailto:hello@dwyl.io">Drop us an email</a> or <a href="http://www.github.com/dwyl/time/issues">open an issue on Github</a>.
  </div>
  <div class=feature>
    <i class="fa fa-lock"></i>
    <h3>Your data is Yours</h3>
    <p>Which means we don't sell it. And the default is that no one except you to sees it.</p> 
  </div>
  <div class=feature>
    <i class="fa fa-tree"></i>
    <h3>Environmental Love</h3>
    <p>We <i class="fa fa-heart-o"></i> the environment and our aim is to be carbon positive.</p> 
  </div>
</section>

<section id='say-hello'>
  <p>SAY HELLO!</p>

  <div id="social">
    <a href="https://twitter.com/dwylhq"><i class="fa fa-twitter"></i></a>
    <a href="mailto:hello@dwyl.io"><i class="fa fa-envelope-o"></i></a>
    <a href="https://instagram.com/dwylhq"><i class="fa fa-instagram"></i></a>
    <p>hello@dwyl.io</p>
  </div>

  <p id="hashtag">#dwyl</p>
</section>
