<section id='headline'>
<h1>dwyl saves you time so you can use it to do what you love </h1>
</section>

<section id='main'>
<ul>
  <!--style with :before for icons? May need individual ids -->
  <li class=feature>Feature 1</li>
  <li class=feature>Feature 2</li>
  <li class=feature>Feature 3</li>
</ul>

<button>Find out more!</button>
</section>

<section id='contact'>
<p>GET IN TOUCH</p>
<!--Icons go here-->
<p>#dwyl</p>
</section>
