/*==============================
  GENERAL STYLES
================================*/

/*https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/*/
html {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding:0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #FCFCFC;
  color: #403f3f;
  font-size:1em;
}

p, ul {
  margin: 0;
}

/*==============================
  Header
================================*/
header{
  background: #4bc0a9;
  border-bottom: 2px solid #43b59f;
  padding: 1em;
  position: relative; /*To accommodate nav absolute positioning*/
  width: 100%;
  margin: 0;
}

  #logo{
    max-width: 11em;
  }

  #nav{
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 1em 1em 0;
  }

    #nav ul{
      padding: 0.3em 0 0 0; /*neutralises typical list padding*/
      float: right;
    }
      #nav ul li{
        list-style-type: none;
      }
      
      #nav a{
        color: #fff;
        text-decoration: none;
      }

/*==============================
  HEADLINE
================================*/
h1{
  font-size: 2em;
  padding: 1em 0.5em 0.3em 0.5em;
  margin: 0;
  text-align: center;
}

h2{
  font-size: 1.3em;
  padding: 0 0.5em 0 0.5em;
  margin: 0;
  text-align:center;
}

/*Styles for desktop media query (still need playing around with)
h1{
  font-size:3em;
  position:relative;
  top: 2em
  left: 2em;
  margin: 0;
}

h2{
  font-size:2em;
  position:relative;
  left: 4em;
  margin: 0;
}*/

/*==============================
  MAIN
================================*/
form#signup{
  /*border: solid 1px red;*/
  padding: 1.5em;
  text-align: center;
}

  form#signup input{
    border: solid 1px #01579B;
    background:none;
    font-size: 1em;
    color: #403f3f;
    display: inline-block;
    margin: 0.2em;
    padding: 0.5em;
  }
  
  form#signup button{
    border: solid 1px #004D40;
    border-radius: 0;
    background:#01579B;
    font-size: 1em;
    color: #ffffff;
    /*display: block;*/
    margin: 0.2em;
    padding: 0.5em;
  }
  
  form#signup p{
    font-size:0.5em;
    width:100%;
    text-align: center;
  }

/*==============================
  Contact
================================*/
#say-hello{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-item: baseline;
    display: -webkit-flex;
    -webkit-flex-direction:row;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -webkit-align-item: baseline
    width: 100%;
    padding:0.5em;
}

#social a{
  color: #43b59f;
}


/*==============================
  SCREEN READERS
================================*/

/*Hides labels from sighted-users without hiding from screen readers*/
.sr-only{
  color: red;
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  border:0;
  overflow:hidden;
  clip: rect(0,0,0,0);
}