/*==============================
  GENERAL STYLES
================================*/

/*https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/*/
html {
  box-sizing: border-box;
  margin:0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #FCFCFC;
  color: #403f3f;
  font-size:1em;
}

p, ul {
  margin: 0;
}

/*==============================
  Header
================================*/
header{
  background: #4bc0a9;
  border-bottom: 2px solid #43b59f;
  padding: 1em;
  position: relative; /*To accommodate nav absolute positioning*/
  width: 100%;
}

  #logo{
    max-width: 12em;
  }

  #nav{
    color: #fff;
    position: absolute;
    bottom: 1em;
    right: 1em;
  }

    #nav ul li{
      list-style-type: none;
    }
    
      #nav ul li a{
        color: #fff;
        text-decoration: none;
      }

/*==============================
  TAG LINE
================================*/
h1{
  font-size: 1.8em;
  padding: 0.5em 0 0 0.5em;
  margin: 0;
}

h2{
  font-size: 1.2em;
  padding: 0 0 0 2em;
  margin: 0;
}

/*Styles for desktop media query (still need playing around with)
h1{
  font-size:3em;
  position:relative;
  top: 2em
  left: 2em;
  margin: 0;
}

h2{
  font-size:2em;
  position:relative;
  left: 4em;
  margin: 0;
}*/

/*==============================
  MAIN
================================*/
form #signup{
  
  
}

/*==============================
  Contact
================================*/
#say-hello{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-item: baseline;
    /*TODO: Figure out why using the webkit stuff pushes content off the page in Chrome*/
    display: -webkit-flex;
    -webkit-flex-direction:row;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -webkit-align-item: baseline
    width: 100%;
    padding:0.5em;
}

#social a{
  color: #43b59f;
}


/*==============================
  SCREEN READERS
================================*/

/*Hides labels from sighted-users without hiding from screen readers*/
.sr-only{
  color: red;
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  border:0;
  overflow:hidden;
  clip: rect(0,0,0,0);
}