<div class="pure-g full-height-block dark-bg">
  <div class="splash-container"></div>
  <div class="pure-u-1 splash-tagline">dwyl is a community of
    <span class="tagline-highlight">people</span>
  </div>
  <div class="scroll-links">
    <div class="scroll-link pure-u-1 pure-u-md-1-3"><a href="#offering-block">Our Offering</a></div>
    <div class="scroll-link pure-u-1 pure-u-md-1-3"><a href="#process-block">Our Process</a></div>
    <div class="scroll-link pure-u-1 pure-u-md-1-3"><a href="#clients-block">What Our Clients Say</a></div>
  </div>
</div>

<div class="content-wrapper">
  <div class="pure-g full-height-block flex-center-wrapper offering" id="offering-block">
    <div class="pure-u-1 pure-u-md-1-2">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 flex-center">
      <h2>Our Offering</h2>
      <ol>
        <li>Product Development
          <br> We build <i>mobile-first</i>
          <strong>MVPs</strong>
        </li>
        <li>User testing
          <br> We mentor you on
          <strong>Customer Development</strong>,
          <strong>User Feedback</strong> and
          <strong>Product Walkthroughs</strong>
        </li>
        <li>Training
          <br>We give you
          <strong>Product Owner</strong> and
          <strong>Github Project Management</strong> training
        </li>
      </ol>
      <p>Got an idea for a product or service? <a href="#contact-block">Let's talk</a>!</p>
    </div>
    <div class="scroll-links">
      <div class="scroll-link pure-u-1 pure-u-md-1-3"><a href="#">To Top</a></div>
      <div class="scroll-link pure-u-1 pure-u-md-1-3"><a href="#process-block">Our Process</a></div>
      <div class="scroll-link pure-u-1 pure-u-md-1-3"><a href="#clients-block">What Our Clients Say</a></div>
    </div>
  </div>
  <div class="pure-g full-height-block flex-center-wrapper dark-bg process" id="process-block">
    <div class="pure-u-1 pure-u-md-1-2 flex-center">
      <h3>We're not sure this way works:</h3>
      <img class="pure-img-responsive diagram" alt="dwyl process diagram part a" src="img/common/mvp-process-diagram-a.png">
      <h3>We build our MVPs like this:</h3>
      <img class="pure-img-responsive diagram" alt="dwyl process diagram part b" src="img/common/mvp-process-diagram-b.png">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 flex-center">
      <h2>Our Process</h2>
      <p>Like our process? <a href='#contact-block'>Let's talk</a>!</p>
    </div>
    <div class="scroll-links">
      <div class="scroll-link pure-u-1 pure-u-md-1-3"><a href="#offering-block">Our Offering</a></div>
      <div class="scroll-link pure-u-1 pure-u-md-1-3"><a href="#">To Top</a></div>
      <div class="scroll-link pure-u-1 pure-u-md-1-3"><a href="#clients-block">What Our Clients Say</a></div>
    </div>
  </div>
  <div class="pure-g full-height-block flex-center-wrapper clients" id="clients-block">
    <div class="pure-u-1 section-heading">
      <h2>What Our Clients Say</h2>
    </div>
    <!-- Keep in mind that the client quotes have a maximum height, so do check on localhost to see if they fit -->
    <div class="pure-u-1 pure-u-md-1-3 pure-sm-hide flex-center">
      <div class="client-container">
        <div class="client-quote">
          "Working with dwyl was fantastic, they really helped find a simple solution to my problem"
        </div>
        <div class="client-image">
          <img src="../img/common/client-profiles/DC.jpg" alt="">
        </div>
        <div class="client-name">
          <strong>David Cameron</strong>, Prime Minister at
          <br>
          <strong>the UK Government</strong>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 flex-center">
      <div class="client-container">
        <div class="client-quote">
          "It was a pleasure working with dwyl, I'm really proud of the application we produced"
        </div>
        <div class="client-image">
          <img src="../img/common/client-profiles/mantagen.jpg" alt="">
        </div>
        <div class="client-name">
          <strong>Matt Gregory</strong>, VP of Engineering at
          <br>
          <strong>Google</strong>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-sm-hide flex-center">
      <div class="client-container">
        <div class="client-quote">
          "dwyl is full of great people who are eager to learn and help solve technical problems. Can't wait to work with them again"
        </div>
        <div class="client-image">
          <img src="../img/common/client-profiles/huw.jpg" alt="">
        </div>
        <div class="client-name">
          <strong>Huw Davies</strong>, IT Architect at
          <br>
          <strong>Facebook</strong>
        </div>
      </div>
    </div>
    <div class="scroll-links">
      <div class="scroll-link pure-u-1 pure-u-md-1-3"><a href="#offering-block">Our Offering</a></div>
      <div class="scroll-link pure-u-1 pure-u-md-1-3"><a href="#process-block">Our Process</a></div>
      <div class="scroll-link pure-u-1 pure-u-md-1-3"><a href="#">To Top</a></div>
    </div>
  </div>
  <div class="pure-g full-height-block flex-center-wrapper dark-bg contact" id="contact-block">
    <div class="pure-u-1 pure-u-md-1-2 flex-center">
      <h2 class="call-to-action">Let's Talk!</h2>
      <div class="contact-info">
        <span class="contact-detail">Tel: <a href="tel:01234567890">01234567890</a></span>
        <span class="contact-detail">Email: <a href="mailto:hello@dwyl.io">hello@dwyl.io</a></span>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 flex-center">

      <!-- START HERE -->
      <!-- Style The Contact Form How Ever You Prefer -->
      <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/style.css"> -->

      <form id="gform" method="POST" class="pure-form pure-form-stacked" action="https://script.google.com/macros/s/AKfycby5ZdD8HfCaz1tMVLw26qYQKEXkP8qdfwLek3TH_RYH3l1o1-Li/exec">
        <!-- change the form action to your script url -->

        <fieldset class="pure-group">
          <label for="name">Name: </label>
          <input id="name" name="name" placeholder="e.g. Mark Zuckerberg" />
        </fieldset>

        <fieldset class="pure-group">
          <label for="email">Email Address:</label>
          <input id="email" name="email" type="email" value="" required placeholder="e.g. mark@facebook.com" />
          <!-- <span id="email-invalid" style="visibility:hidden">
                Must be a valid email address</span> -->
          <!-- I think this isn't necessary, as the 'required' attribute fulfills this purpose -->
        </fieldset>

        <fieldset class="pure-group">
          <label for="budget">Budget:</label>
          <select id="budget" name="budget" required>
            <option value="under-15">Under 15k</option>
            <option value="under-50">Under 50k</option>
            <option value="under-100">Under 100k</option>
            <option value="above-100">Above 100k</option>
            <option value="no-app">I don't need an app!</option>
          </select>
        </fieldset>

        <fieldset class="pure-group">
          <label for="message">Message: </label>
          <textarea id="message" name="message" rows="10" placeholder="What problem can we solve?"></textarea>
        </fieldset>

        <button class="button-success pure-button button-xlarge">
          <i class="fa fa-paper-plane"></i>&nbsp;Send</button>

      </form>

      <!-- Customise the Thankyou Message People See when they submit the form: -->
      <div style="display:none;" id="thankyou_message">
        <h2>
          <em>Thanks</em> for contacting us! We will get back to you soon!</h2>
      </div>

      <!-- Submit the Form to Google Using "AJAX" -->
      <script data-cfasync="false" type="text/javascript" src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>
      <!-- END -->
    </div>
  </div>
  <!-- <div class="pure-g">
      <div class="l-box-lrg pure-u-1 pure-u-md-3-5"> social buttons
        <div class="social">
          <a class="social-icon" href="https://twitter.com/dwylhq"><i class="fa fa-twitter" title="link to dwylhq twitter"></i></a>
          <a class="social-icon" href="mailto:hello@dwyl.io"><i class="fa fa-envelope-o" title="email us!"></i></a>
          <a class="social-icon" href="https://instagram.com/explore/tags/dwylsummer/"><i class="fa fa-instagram" title="link to dwylhq instagram"></i></a>
        </div>
      </div>
    </div> -->
  <div class="copyright-block">
    Copyright 2016 &copy; dwyl Ltd. All rights reserved. 104 Mary Datchelor Close, London SE5 7DY, UK
  </div>
</div>
<!--end of content-wrapper-->
<script src="../js/smoothHash.js"></script>
<script>
  $(document).smoothHash({
    speed: 500,
    smoothfunc: 'linear'
  });
</script>
