<div class="pure-g full-height-block dark-bg splash">
    <a href="/team"><div class="splash-container"></div></a>
    <div class="pure-u-1 splash-tagline">
      <span class="pure-md-hide">dwyl </span><span class="pure-xl-show">&nbsp;is&nbsp;</span><span class="pure-sm-hide">a <span class="tagline-highlight">team</span> of people using <span class="tagline-highlight">technology</span> to solve real problems</span>
    </div>
</div>

<div class="content-wrapper">
  <div class="pure-g full-height-block has-tagline flex-center-wrapper offering" id="offering">
    <div class="pure-u-1 section-heading flex-center">
      <h2>Our Offering</h2>
      <span class="section-tagline">We make digital products and services that people love using and test ideas as fast as possible.</span>
    </div>
    <div class="section-boxes">
      <div class="pure-u-1 pure-u-md-1-3 flex-center section-box-wrapper">
        <div class="section-box">
          <div class="offering-icon mvp-icon">
          </div>
          <h3>Product Development</h3>
            <p>
              We build <i>mobile-first</i> MVPs with intuitive and user-friendly interfaces
            </p>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-3 flex-center section-box-wrapper">
        <div class="section-box">
          <div class="offering-icon user-testing-icon">
          </div>
          <h3>User testing</h3>
            <p>
              We mentor you on User Feedback, Product Walkthroughs and Customer Development
            </p>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-3 flex-center section-box-wrapper">
        <div class="section-box">
          <div class="offering-icon training-icon">
          </div>
          <h3>Training</h3>
            <p>
              We give you Product Owner and Github Project Management training
            </p>
        </div>
      </div>
    </div>
  </div>

  <div class="pure-g full-height-block flex-center-wrapper dark-bg process" id="process">
    <div class="pure-u-1 section-heading flex-center">
      <h2>Our Process</h2>
    </div>
    <div class="section-boxes">
      <div class="pure-u-1 pure-u-md-1-2 flex-center">
        <h3>We're not sure this way works:</h3>
        <img class="pure-img-responsive diagram" alt="dwyl process diagram part a" src="img/common/mvp-process-diagram-a.png">
        <h3>We build our MVPs like this:</h3>
        <img class="pure-img-responsive diagram" alt="dwyl process diagram part b" src="img/common/mvp-process-diagram-b.png">
      </div>
      <div class="pure-u-1 pure-u-md-1-2 flex-center">
          <ol>
            <li>
              <h3>Understand the problem</h3>
              We <em>understand</em> the problem that has been identified and confirm the intended users feel the pain and need for a solution.
            </li>
            <li>
              <h3>Build the solution</h3>
              We <em>build</em> the solution following the agile/lean software development best practices and get feedback from users as fast as possible.
            </li>
            <li>
              <h3>Review feedback</h3>
              We <em>review</em> client feedback and confirm we are making progress toward solving the problem.
            </li>
          </ol>
        <p>By iterating over these 3 simple steps we maintain a tight feedback loop between the people building and using the product or service, ensuring we meet your needs quickly and without waste. Like the way we work? <a href='#contact'>Get in touch</a>!</p>
      </div>
    </div>
  </div>

  <!-- commented out 'What our clients say' section as per #113 -->
  <!-- <div class="pure-g full-height-block flex-center-wrapper clients" id="clients">
    <div class="pure-u-1 section-heading flex-center">
      <h2>What Our Clients Say</h2>
    </div> -->
    <!-- Keep in mind that the client quotes have a maximum height, so do check on localhost to see if they fit -->
    <!-- <div class="pure-u-1 pure-u-md-1-3 pure-sm-hide flex-center">
      <div class="client-container">
        <div class="client-quote">
          "Working with dwyl was fantastic, they really helped find a simple solution to my problem"
        </div>
        <div class="client-image">
          <img src="../img/common/client-profiles/DC.jpg" alt="">
        </div>
        <div class="client-name">
          <strong>David Cameron</strong>, Prime Minister at
          <br>
          <strong>the UK Government</strong>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 flex-center">
      <div class="client-container">
        <div class="client-quote">
          "It was a pleasure working with dwyl, I'm really proud of the application we produced"
        </div>
        <div class="client-image">
          <img src="../img/common/client-profiles/mantagen.jpg" alt="">
        </div>
        <div class="client-name">
          <strong>Matt Gregory</strong>, VP of Engineering at
          <br>
          <strong>Google</strong>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-sm-hide flex-center">
      <div class="client-container">
        <div class="client-quote">
          "dwyl is full of great people who are eager to learn and help solve technical problems. Can't wait to work with them again"
        </div>
        <div class="client-image">
          <img src="../img/common/client-profiles/huw.jpg" alt="">
        </div>
        <div class="client-name">
          <strong>Huw Davies</strong>, IT Architect at
          <br>
          <strong>Facebook</strong>
        </div>
      </div>
    </div>
  </div> -->

  <!-- This needs an additional class of dark-bg when 'What our clients say' comes back -->
  <div class="pure-g full-height-block flex-center-wrapper contact" id="contact">
    <div class="pure-u-1 pure-u-md-1-2 flex-center">
      <h2 class="call-to-action">Let's Talk!</h2>
      <div class="contact-info">
        <span class="contact-detail">Tel: <a href="tel:07708796446">07708796446</a></span>
        <span class="contact-detail">Email: <a href="mailto:hello@dwyl.io">hello@dwyl.io</a></span>
        <span class="contact-tagline"> We'll get back to you within 24 hours. </span>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 flex-center contact-box">

      <form id="gform" method="POST" class="pure-form pure-form-stacked" action="https://script.google.com/macros/s/AKfycby5ZdD8HfCaz1tMVLw26qYQKEXkP8qdfwLek3TH_RYH3l1o1-Li/exec">
        <!-- change the form action to your script url -->

        <fieldset class="pure-group">
          <label for="name">Name: </label>
          <input id="name" name="name" placeholder="e.g. Tim Berners-Lee" />
        </fieldset>

        <fieldset class="pure-group">
          <label for="email">Email Address:</label>
          <input id="email" name="email" type="email" value="" required placeholder="e.g. tim@cern.com" />
        </fieldset>

        <fieldset class="pure-group">
          <label for="budget">Budget:</label>
          <select id="budget" name="budget" required>
            <option value="under-15">Under 15k</option>
            <option value="under-50">Under 50k</option>
            <option value="under-100">Under 100k</option>
            <option value="above-100">Above 100k</option>
            <option value="no-app">I don't need an app!</option>
          </select>
        </fieldset>

        <fieldset class="pure-group">
          <label for="message">Message: </label>
          <textarea id="message" name="message" rows="10" placeholder="What problem can we solve for you?"></textarea>
        </fieldset>

        <button class="button-success pure-button button-xlarge">
          <i class="fa fa-paper-plane"></i>&nbsp;Send</button>
      </form>

      <!-- Customise the Thankyou Message People See when they submit the form: -->
      <div style="display:none;" id="thankyou_message">
        <h2>
          <em>Thanks</em> for contacting us! We will get back to you soon!</h2>
      </div>

      <!-- Submit the Form to Google Using "AJAX" -->
      <script data-cfasync="false" type="text/javascript" src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>
      <!-- END -->
    </div>
  </div>

  <!-- This needs an additional class of dark-bg when 'What our clients say' gets added -->
  <div class="copyright-block">
    Copyright 2016 &copy; dwyl Ltd. All rights reserved. 104 Mary Datchelor Close, London SE5 7DY, UK
  </div>
</div>
<!--end of content-wrapper-->
<script src="../js/smoothHash.js"></script>
<script>
  $(document).smoothHash({
    speed: 500,
    smoothfunc: 'linear'
  });
</script>
