<div class="pure-u-1 l-box">
  <h2 class="content-head is-center">How do we do it?</h2>

  <p>
    We have a <strong>3-step &quot;Lean&quot; approach</strong>
    to getting idea(s) tested in the hands of <em>real</em> people.
  </p>
  <ol>
    <li>
      <em>Understand</em> the problem that has been identified
      and <em>confirm</em> the intended users feel the <i>pain</i>
      and <em>need</em> for a solution.
    </li>
    <li>
      <em>Build</em> the solution
      following the agile/lean software development best practices
      and get feedback from
      <em>real</em> people as fast as possible.
    </li>
    <li>
      <em>Review</em> customer feedback and <i>confirm</i> we are
      making progress toward solving the problem.
    </li>
  </ol>
  <p>
    By <em>iterating</em> over these 3 simple steps we maintain
    a <em><b>tight feedback loop</b></em> between
    the people <em>building</em> and <em><b>using</b></em> the product/service,
    ensuring we meet your needs quickly and without waste.

  </p>
</div>
