<div class="pure-g team no-flex-margin">
  <div class="pure-u-1">
    <h1 class="section-heading">Meet the team</h1>
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    <div class="member-container">
      <div class="member-image">
        <img src="../img/common/client-profiles/DC.jpg" alt="">
      </div>
      <div class="member-title"><h2>David</h2></div>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    <div class="member-container">
      <div class="member-image">
        <img src="../img/common/client-profiles/DC.jpg" alt="">
      </div>
      <div class="member-title"><h2>David</h2></div>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    <div class="member-container">
      <div class="member-image">
        <img src="../img/common/client-profiles/DC.jpg" alt="">
      </div>
      <div class="member-title"><h2>David</h2></div>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    <div class="member-container">
      <div class="member-image">
        <img src="../img/common/client-profiles/DC.jpg" alt="">
      </div>
      <div class="member-title"><h2>David</h2></div>
    </div>
  </div>
</div>
