<div class="pure-g team no-flex-margin">
  <div class="pure-u-1">
    <h1 class="section-heading">Meet the team!</h1>
  </div>
  <div class="members">
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="member-container">
        <div class="member-image">
          <img src="../img/common/team/ines.jpg" alt="Ines">
        </div>
        <div class="member-title"><h2>Ines</h2></div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="member-container">
        <div class="member-image">
          <img src="../img/common/team/nelson.jpg" alt="Nelson">
        </div>
        <div class="member-title"><h2>Nelson</h2></div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="member-container">
        <div class="member-image">
          <img src="../img/common/team/anita.jpg" alt="Anita">
        </div>
        <div class="member-title"><h2>Anita</h2></div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="member-container">
        <div class="member-image">
          <img src="../img/common/team/simon.jpg" alt="Simon">
        </div>
        <div class="member-title"><h2>Simon</h2></div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="member-container">
        <div class="member-image">
          <img src="../img/common/team/jackr.jpg" alt="Jack R">
        </div>
        <div class="member-title"><h2>Jack R</h2></div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="member-container">
        <div class="member-image">
          <img src="../img/common/team/eoin.jpg" alt="Eoin">
        </div>
        <div class="member-title"><h2>Eoin</h2></div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="member-container">
        <div class="member-image">
          <img src="../img/common/team/rafe.jpg" alt="Rafe">
        </div>
        <div class="member-title"><h2>Rafe</h2></div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="member-container">
        <div class="member-image">
          <img src="../img/common/team/mina.jpg" alt="Mina">
        </div>
        <div class="member-title"><h2>Mina</h2></div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="member-container">
        <div class="member-image">
          <img src="../img/common/team/nikhila.jpg" alt="Nikki">
        </div>
        <div class="member-title"><h2>Nikki</h2></div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="member-container">
        <div class="member-image">
          <img src="../img/common/team/jackc.jpg" alt="Jack C">
        </div>
        <div class="member-title"><h2>Jack C</h2></div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="member-container">
        <div class="member-image">
          <img src="../img/common/team/conor.jpg" alt="Conor">
        </div>
        <div class="member-title"><h2>Conor</h2></div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="member-container">
        <div class="member-image">
          <img src="../img/common/team/naaz.jpg" alt="Naaz">
        </div>
        <div class="member-title"><h2>Naaz</h2></div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="member-container">
        <div class="member-image">
          <img src="../img/common/team/michelle.jpg" alt="Michelle">
        </div>
        <div class="member-title"><h2>Michelle</h2></div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="member-container">
        <div class="member-image">
          <img src="../img/common/team/matt.jpg" alt="Matt">
        </div>
        <div class="member-title"><h2>Matt</h2></div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="member-container">
        <div class="member-image">
          <img src="../img/common/team/huw.png" alt="Huw">
        </div>
        <div class="member-title"><h2>Huw</h2></div>
      </div>
    </div>
  </div>
</div>
