<div class="pure-g team no-flex-margin">
  <div class="pure-u-1">
    <h1 class="section-heading">Meet the team!</h1>
  </div>

  <div class="members">

    {{#each profiles}}
      <div class="pure-u-1 pure-u-md-1-3">
        <div class="member-container">
          <a href="{{github}}">
            <div class="member-image">
              <img src="../img/common/team/{{image}}" alt="{{firstname}}">
            </div>
          </a>
          <div class="member-title">
            <h2>{{firstname}}</h2>
            <p>{{{role}}}</p>
          </div>
        </div>
      </div>
    {{/each}}
    
  </div>
</div>
