<div class="content-wrapper flex-center-wrapper full-height-block dark-bg">
  <div class="pure-g container-xl-1-2 values">
    <div class="pure-u-1">
      <h1>What are our values?</h1>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="section-box">
        <i class="fa fa-lg fa-code"></i>
        <h3 class="content-subhead">
          Fully Tested Code
        </h3>
        <p>
          We're proud of the
          <a href="https://github.com/dwyl/learn-tdd#learn-test-driven-development-tdd"><b><em>quality of our code</em></b></a>. Having
          <em>automated</em> tests means that when we add to that code we <i>know</i> we're not creating a problem somewhere else.
        </p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="section-box">
        <i class="fa fa-lg fa-check"></i>
        <h3 class="content-subhead">
          Simplicity
        </h3>
        <p>
          We keep it simple and intuitive, with only the features you need and a tried and tested user journey.
        </p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="section-box">
        <i class="fa fa-lg fa-github"></i>
        <h3 class="content-subhead">
          Open Source
        </h3>
        <p>
          We're big advocates of developing our code out in the open, allowing us to draw upon a
          <a href="https://github.com/dwyl"><b>global network of expert contributors</b></a>.
        </p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="section-box">
        <i class="fa fa-lg fa-tree"></i>
        <h3 class="content-subhead">
          Ethics Driven
        </h3>
        <p>
          We <i class="fa fa-heart-o"></i> people who are doing amazing things and having a positive effect on the world. We respect the environment and plan to be carbon positive by 2018.
        </p>
      </div>
    </div>
  </div>
</div>
