<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="dwyl is community of people dedicated to helping people solve real problems with technology.">
  <meta name="author" content="@dwyl">
  <meta name="keywords" content="do, what, you, love, dwyl, mvp, time, tracking, help, developers, code, frontend, backend, tooling, tools">
  <meta name="robots" content="index, follow, noarchive">
  <meta name="base" content="https://www.dwyl.io">

  <title>dwyl - do what you love</title>

  <!--This if is not part of the pureCSS template-->
  <!--[if ie]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <![endif]-->

  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">

  <!--[if lte IE 8]>
      <link rel="stylesheet" href="https://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
  <!--<![endif]-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!--FontAwesome-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Google fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300%7COpen+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  <!--PureCSS 'Landing Page' layout stylesheet-->
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->

    <!--[if gt IE 8]><!-->
        <!-- <link rel="stylesheet" href="css/layouts/marketing.css"> -->
        <!--TODO-->
        <link rel="stylesheet" href="css/dwyl.css">
    <!--<![endif]-->

    <!-- Google Analytics -->
    <!--Adds support for pre-loading in modern browsers but degrades gracefully-->
    <script async src="//www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-63938505-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">
          <img src="img/common/dwyl-heart-only-logo.png" alt="dwyl logo"/><span class="pure-sm-hide">dwyl</span></a>
        <div id="burger-button" class="burger-button"></div>
        <nav class="main-nav concealed">
          <ul class="pure-menu-list">
              <li class="pure-menu-item"><a href="/#offering" class="pure-menu-link">Offering</a></li>
              <li class="pure-menu-item"><a href="/#process" class="pure-menu-link">Process</a></li>
              <li class="pure-menu-item"><a href="/#contact" class="pure-menu-link">Contact</a></li>
              <li class="pure-menu-item"><a href="/values" class="pure-menu-link">Values</a></li>
              <li class="pure-menu-item"><a href="/team" class="pure-menu-link">Team</a></li>
              <!-- TO BE ADDED WHEN THERE'S APPROPRIATE CONTENT -->
              <!-- <li class="pure-menu-item"><a href="/blog" class="pure-menu-link">Blog</a></li>
              <li class="pure-menu-item"><a href="/portfolio" class="pure-menu-link">Portfolio</a></li> -->
          </ul>
        </nav>
    </div>
</div>
{{{content}}}
  <script>
    $('#burger-button').click(function() {
      $('.main-nav').toggleClass('concealed');
    })
  </script>
</body>
</html>
